<form novalidate angular-validator angular-validator-submit="saveFondo(fondo, 'btnSaveInfo')" name="fondoEdit" angular-validator-quiet>
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modificar Fondo</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="txtData">Fondo</label>
            <input id="txtData" class="form-control" type="text" ng-model="fondo.data" readonly />
        </div>
        <div class="form-group">
            <label for="flImagen">Imagen</label>
            <input id="flPortada" type="file" class="form-control" ngf-select="preview_portada($file, $invalidFiles)" 
                accept="image/*" ngf-max-height="5000" ngf-max-size="10MB"/>
            <img ng-hide="portada_preview === undefined || portada_preview === null" class="img-responsive" ng-src="{{tmp_path}}/{{portada_preview}}" alt="imagen previa" />
            <span ng-hide="portada_preview === undefined || portada_preview === null">Portada cargada correctamente</span>
            <span ng-show="loading_portada">Cargando...</span>
            <span ng-show="!loading && portada_preview === null">No fue posible cargar la Portada</span>
            <span ng-hide="portada_preview === undefined || portada_preview === null"><!-- si la imagen cargo entonces definimos si se muestra o no-->
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">Cerrar</button>
        <button id="btnSaveInfo" class="btn btn-success" type="submit">Guardar Info</button>
    </div>
</form>